.container

  %p#notice= notice

  = render partial: 'heros/hero_info'

  = form_for [@actor, @movement_preparation_step] do |f|
    - if @movement_preparation_step.errors.any?
      #error_explanation
        %h2= "#{pluralize(@movement_preparation_step.errors.count, "error")} prohibited this movement_preparation_step from being saved:"
        %ul
          - @movement_preparation_step.errors.full_messages.each do |message|
            %li= message

    .form-group
      %b Hand:
      = render partial: 'heros/cards_hand'

    .form-group
      .mx-2
        = label_tag :move_to, "Move from #{@last_location} to :"
      .mx-2
        = f.select( :destination, @locations, {}, class: 'form-control' )
      %input{ id: :selected_cards, name: 'movement_preparation_step[selected_cards]', type: :hidden }

    .actions
      = f.submit 'Save', role: :button, class: 'btn btn-secondary'
