%p#notice= notice

%p
  %b Board:
  = @movement_preparation_step.board
%p
  %b Hero:
  = @movement_preparation_step.hero
%p
  %b Origine:
  = @movement_preparation_step.origine
%p
  %b Destination:
  = @movement_preparation_step.destination
%p
  %b Card used:
  = @movement_preparation_step.card_used
%p
  %b Order:
  = @movement_preparation_step.order
%p
  %b Validation required:
  = @movement_preparation_step.validation_required

= link_to 'Edit', edit_movement_preparation_step_path(@movement_preparation_step)
\|
= link_to 'Back', movement_preparation_steps_path
