
.form-group
  .row
    .col-4
      %button.btn.btn-secondary.btn-block{ type: :button }
        Name code
        %span.badge.badge-light
          = @actor.name_code

    .col-4
      %button.btn.btn-secondary.btn-block{ type: :button }
        Location
        %span.badge.badge-light
          = @actor.location

.form-group
  .row
    .col-2
      %button.btn.btn-secondary.btn-block{ type: :button }
        Life
        %span.badge.badge-light
          = @actor.life_pool.count

    .col-2
      %button.btn.btn-secondary.btn-block{ type: :button }
        Rest
        %span.badge.badge-light
          = @actor.rest_pool.count

    .col-2
      %button.btn.btn-secondary.btn-block{ type: :button }
        Damage
        %span.badge.badge-light
          = @actor.damage_pool.count


.form-group
  .row
    .col-2
      %button.btn.btn-secondary.btn-block{ type: :button }
        Fortitude
        %span.badge.badge-light
          = @actor.fortitude
    .col-2
      %button.btn.btn-secondary.btn-block{ type: :button }
        Strength
        %span.badge.badge-light
          = @actor.strength
    .col-2
      %button.btn.btn-secondary.btn-block{ type: :button }
        Agility
        %span.badge.badge-light
          = @actor.agility
    .col-2
      %button.btn.btn-secondary.btn-block{ type: :button }
        Wisdom
        %span.badge.badge-light
          = @actor.wisdom