
.form-group
  .row
    .col-2
      %button.btn.btn-secondary.btn-block{ type: :button }
        Name code
        %span.badge.badge-light
          = @hero.name_code

    .col-4
      %button.btn.btn-secondary.btn-block{ type: :button }
        Location
        %span.badge.badge-light
          = @hero.location

    .col-2
      %button.btn.btn-secondary.btn-block{ type: :button }
        Life
        %span.badge.badge-light
          = @hero.life_pool.count

    .col-2
      %button.btn.btn-secondary.btn-block{ type: :button }
        Rest
        %span.badge.badge-light
          = @hero.rest_pool.count


.form-group
  .row
    .col-2
      %button.btn.btn-secondary.btn-block{ type: :button }
        Fortitude
        %span.badge.badge-light
          = @hero.fortitude
    .col-2
      %button.btn.btn-secondary.btn-block{ type: :button }
        Strength
        %span.badge.badge-light
          = @hero.strength
    .col-2
      %button.btn.btn-secondary.btn-block{ type: :button }
        Agility
        %span.badge.badge-light
          = @hero.agility
    .col-2
      %button.btn.btn-secondary.btn-block{ type: :button }
        Wisdom
        %span.badge.badge-light
          = @hero.wisdom

    .col-2
      %button.btn.btn-secondary.btn-block{ type: :button }
        Damage
        %span.badge.badge-light
          = @hero.damage_pool.count