.container
  %p#notice= notice

  %h3
    Exploration screen

  .alert.alert-secondary
    %ul.mt-3
      %li At this step, you can explore your current location.
      %li This step is not implemented now.

  = render partial: 'hero_info'

  %hr

  = form_tag hero_explore_path(@actor) do
    .form-group
      .row

        .col-3
          = button_tag 'Next movement', role: :button, class: 'btn btn-secondary btn-block'

        .col-3
          = link_to hero_exploration_finished_path(@actor), role: :button, class: 'btn btn-danger btn-block' do
            Finish turn