.container
  %p#notice= notice

  %h3
    Exploration screen

  .alert.alert-secondary
    %ul.mt-3
      %li At this step, you can explore your current location.

  -#= render partial: 'hero_info'

  = form_tag hero_explore_path(@actor) do

    - tokens_at_location = 0
    - @tokens_at_location.each_with_index do |token, i|
      - token_text = get_token_text(token)
      - if token_text
        .form-check
          %input{ class: 'form-check-input', type: 'checkbox', name: "tokens[#{token.type}][]", value: token.code, id: "token_check_#{i}" }
          %label{ class: 'form-check-label', for: "token_check_#{i}" }
            = token_text
        - tokens_at_location += 1

    %hr

    .form-group
      .row
        - if tokens_at_location > 0
          .col-3
            = button_tag 'Explore', role: :button, class: 'btn btn-secondary btn-block'

        .col-3
          = link_to hero_exploration_back_to_movement_path(@actor), role: :button, class: 'btn btn-secondary btn-block' do
            Back to movement

        .col-3
          = link_to hero_exploration_finished_path(@actor), role: :button, class: 'btn btn-danger btn-block' do
            Finish turn