%h1 Listing heros

%table
  %thead
    %tr
      %th Name code
      %th Fortitude
      %th Strength
      %th Agility
      %th Wisdom
      %th Location
      %th
      %th
      %th

  %tbody
    - @heros.each do |hero|
      %tr
        %td= hero.name_code
        %td= hero.fortitude
        %td= hero.strength
        %td= hero.agility
        %td= hero.wisdom
        %td= hero.location
        %td= link_to 'Show', [@board,hero]
        %td= link_to 'Edit', edit_board_hero_path(@board,hero)
        %td= link_to 'Destroy', [@board,hero], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Hero', new_board_hero_path
