.container
  %p#notice= notice

  %h3
    Rest screen

  .alert.alert-secondary
    %ul.mt-3
      %li At this step, you can rest if you are not in a shadow stronghold.
      %li If you are not in a haven, you may also heal.

  %hr

  = form_tag hero_rest_path(@actor) do
    .form-group
      .row
        .col-2
          = label_tag :rest, 'Do you want to rest ?', class: 'col-form-label'
        .col-1
          = check_box_tag( :rest, 'yes', false, 'data-toggle' => 'toggle', class: :toggle )

        .col-2
          = label_tag :heal, 'Do you want to heal ?', class: 'col-form-label'
        .col-1
          = check_box_tag( :heal, 'yes', false, 'data-toggle' => 'toggle', class: :toggle )

        .col-3
          = button_tag 'Process', role: :button, class: 'btn btn-secondary btn-block'

        .col-3
          = link_to hero_rest_finished_path(@actor), role: :button, class: 'btn btn-danger btn-block' do
            Terminate