%p#notice= notice

%p
  %b Name code:
  = @hero.name_code
%p
  %b Fortitude:
  = @hero.fortitude
%p
  %b Strength:
  = @hero.strength
%p
  %b Agility:
  = @hero.agility
%p
  %b Wisdom:
  = @hero.wisdom
%p
  %b Location:
  = @hero.location
%p
  %b Life:
  = @hero.life_pool.count
%p
  %b Hand:

%p
  - @hero.hand.each do |h|
    = image_tag "hero_cards/#{@hero.name_code}/#{@hero_cards[h][:name]}.jpg", class: :card


= link_to 'Edit', edit_board_hero_path(@board, @hero)
\|
= link_to 'Back', board_heros_path(@board)
\|
= link_to 'Draw hand', board_hero_draw_cards_path(@board, @hero)

