%p#notice= notice

.container
  .row
    .col-2
      %button.btn.btn-secondary{ type: :button }
        Name code
        %span.badge.badge-light
          = @hero.name_code

    .col-4
      %button.btn.btn-secondary{ type: :button }
        Location
        %span.badge.badge-light
          = @hero.location

    .col-2
      %button.btn.btn-secondary{ type: :button }
        Life
        %span.badge.badge-light
          = @hero.life_pool.count

    .col-2
      %button.btn.btn-secondary{ type: :button }
        Rest
        %span.badge.badge-light
          = @hero.rest_pool.count
    .col-2
      %button.btn.btn-secondary{ type: :button }
        Damage
        %span.badge.badge-light
          = @hero.damage_pool.count

  .row
    .col-2
      %button.btn.btn-secondary{ type: :button }
        Fortitude
        %span.badge.badge-light
          = @hero.fortitude
    .col-2
      %button.btn.btn-secondary{ type: :button }
        Strength
        %span.badge.badge-light
          = @hero.strength
    .col-2
      %button.btn.btn-secondary{ type: :button }
        Agility
        %span.badge.badge-light
          = @hero.agility
    .col-2
      %button.btn.btn-secondary{ type: :button }
        Wisdom
        %span.badge.badge-light
          = @hero.wisdom

  .row
    .col
      = link_to 'Draw hand', board_hero_draw_cards_path(@board, @hero), role: :button, class: 'btn btn-secondary'
    .col
      = link_to 'Rest', board_hero_rest_path(@board, @hero), role: :button, class: 'btn btn-secondary'
    .col
      = link_to 'Heal', board_hero_heal_path(@board, @hero), role: :button, class: 'btn btn-secondary'
    .col
      = link_to 'Take damages', board_hero_take_damages_path(@board, @hero, damage_amount: 3 ), method: :patch, role: :button, class: 'btn btn-secondary'
    .col
    .col


  .row
    %b Hand:

  .row
    = form_tag board_hero_draw_cards_path(@board, @hero), class: 'form-inline' do
      .form-group
        .mx-2
          = label_tag :nb_cards, 'Cards count'
        .mx-2
          = number_field_tag :nb_cards, @hero.fortitude, max: 20, class: 'form-control'
        .mx-2
          = button_tag 'Agility', role: :button, type: :button, class: 'btn btn-secondary', id: :set_agility
        .mx-2
          = button_tag 'Draw hand', role: :button, class: 'btn btn-secondary'
    = hidden_field_tag :agility_value, @hero.agility


  - @hero.hand.in_groups_of(8).each do |group|
    .row
      - group.each do |element|
        .col
          - if element
            = image_tag "hero_cards/#{@hero.name_code}/#{@hero_cards[element][:name]}.jpg", class: :card, card_id: element

  = form_tag board_hero_move_path(@board, @hero), class: 'form-inline' do
    = label_tag :move_to, 'Move to'
    = select_tag(:move_to, options_for_select( @locations ), class: 'form-control' )
    = button_tag 'Move', role: :button, class: 'btn btn-secondary disabled', id: :move_hero
    = hidden_field_tag :card_used, ''

