.container

  %p#notice= notice

  = render partial: 'hero_info'

  .form-group
    .row
      .col-2
        = link_to 'Draw hand', hero_draw_cards_path(@actor), role: :button, class: 'btn btn-secondary btn-block'
      .col-2
        = link_to 'Rest', hero_rest_path(@actor), role: :button, class: 'btn btn-secondary btn-block'
      .col-2
        = link_to 'Heal', hero_heal_path(@actor), role: :button, class: 'btn btn-secondary btn-block'
      .col-2
        = link_to 'Movement', hero_movement_preparation_steps_path(@actor), role: :button, class: 'btn btn-secondary btn-block'
      .col-2
        = link_to 'Take damages', hero_take_damages_path(@actor, damage_amount: 3 ), method: :patch, role: :button, class: 'btn btn-secondary btn-block'
      .col-2
        - if @actor.turn_finished
          = button_tag 'Turn finished', role: :button, class: 'btn btn-secondary disabled btn-block'
        - else
          = link_to 'Finish turn', hero_finish_turn_path(@actor), method: :patch, role: :button, class: 'btn btn-secondary btn-block'

  .form-group
    %b Hand:

    = render partial: 'cards_hand'

  .form-group
    = form_tag hero_draw_cards_path(@actor), class: 'form-inline' do
      .mx-2
        = label_tag :nb_cards, 'Cards count'
      .mx-2
        = number_field_tag :nb_cards, @actor.fortitude, max: 20, class: 'form-control'
      .mx-2
        = button_tag 'Agility', role: :button, type: :button, class: 'btn btn-secondary', id: :set_agility
      .mx-2
        = button_tag 'Draw hand', role: :button, class: 'btn btn-secondary'
    = hidden_field_tag :agility_value, @actor.agility

  = image_tag "hero_cards/quests/standard/#{@actor.name_code}-#{@actor.current_quest}", class: 'big-card'