.container

  %h3
    - if @loss_mandatory
      = "Your life pool is empty. You have to choose #{@hero.temporary_damages} cards as damages result."
    - else
      = "You may to choose up to #{@hero.temporary_damages} card(s) to prevent damages."

  = render partial: 'heroes/cards_hand'

  %hr

  = form_tag cards_loss_board_combats_path(@board) do
    .row
      .col.mt-2
        = button_tag class: 'btn btn-primary btn-block' do
          Discard cards
      - unless @loss_mandatory
        .col.mt-2
          = button_tag class: 'btn btn-primary btn-block' do
            Don't discard cards

    %input{ id: :selected_cards, name: 'selected_cards', type: :hidden }