.container

  %h3 Choose how to use your agility

  = render partial: 'heros/hero_info'
  %hr
  = render partial: 'heros/cards_hand'

  = form_tag combat_setup_board_combats_path(@board) do
    .form-group
      .row
        .col-3
          = button_tag 'Draw cards', role: :button, class: 'btn btn-secondary btn-block', value: :draw
        .col-3
          = button_tag 'Increase strength', role: :button, class: 'btn btn-secondary btn-block', value: :increase
