

.container
  = render partial: 'heros/hero_info'

  .row
    %b Hand:

  .form-group
    = render partial: 'heros/cards_hand'

  = form_tag hero_setup_draw_cards_board_combats_path(@board) do
    .form-group
      .row
        .col-3
          .col-form-label
            = 'Nb cards to draw'
        .col-2
          = number_field_tag :nb_cards_to_draw, @hero.agility, max: 20, class: 'form-control'
        .col-2
          = button_tag 'Draw cards', role: :button, class: 'btn btn-secondary btn-block'

  = form_tag hero_setup_increase_strength_board_combats_path(@board) do
    .form-group
      .row
        .col-3
          .col-form-label
            = 'Raise your strength to'
        .col-2
          = number_field_tag :increase_strength, @combat.temporary_strength+@hero.agility, max: 20, class: 'form-control'
        .col-2
          = button_tag 'Increase strength', role: :button, class: 'btn btn-secondary btn-block'