.container

  %h3
    Current fight

  .row
    .col-3
      %button.btn.btn-secondary.btn-block{ type: :button, disabled: true }
        = @hero.name

    .col-3
      %button.btn.btn-secondary.btn-block{ type: :button, disabled: true }
        Used strength
        %span.badge.badge-light
          = @hero_used_strength
        \/
        %span.badge.badge-light
          = @combat.temporary_hero_strength

    .col-3
      %button.btn.btn-secondary.btn-block{ type: :button, disabled: true }
        Damages taken
        %span.badge.badge-light
          = @hero.damages_taken_this_turn

    .col-3
      %button.btn.btn-secondary.btn-block{ type: :button, disabled: true }
        Remaining life
        %span.badge.badge-light
          = @hero.hand.count + @hero.life_pool.count

  .row.mt-2
    .col-3
      %button.btn.btn-secondary.btn-block{ type: :button, disabled: true }
        = @mob.name

    .col-3
      %button.btn.btn-secondary.btn-block{ type: :button, disabled: true }
        Used strength
        %span.badge.badge-light
          = @mob_used_strength
        \/
        %span.badge.badge-light
          = @mob.strength

    .col-3
      %button.btn.btn-secondary.btn-block{ type: :button, disabled: true }
        Damages taken
        %span.badge.badge-light
          = @mob.damages_taken_this_turn

    .col-3
      %button.btn.btn-secondary.btn-block{ type: :button, disabled: true }
        Remaining life
        %span.badge.badge-light
          = @mob.life

  .row.mt-2
    .col-3
    .col-3
      - if @print_hero_play_link
        = link_to 'Play hero card', play_combat_card_screen_board_combats_path( @board, @hero ), role: :button, class: 'btn btn-primary btn-block'
    .col-3
      - if @print_sauron_play_link
        = link_to 'Play mob card', play_combat_card_screen_board_combats_path( @board, @mob ), role: :button, class: 'btn btn-primary btn-block'

  %hr

  .row.mb-3
    - @last_hero_cards_used.each do |card|
      .col-2
        = image_tag "hero_cards/actions/#{card.pic_path}", class: 'small-card'

  .row.mb-3
    - @last_mob_cards_used.each do |card|
      .col-2
        = image_tag "monsters/#{card.pic_path}", class: 'small-card'

  %hr

  = image_tag "heroes/#{@hero.name_code}.jpg", class: 'actor-card'
  = fa_icon "bolt", class: 'fa-big'
  = image_tag "monsters/monsters/#{@mob.code}.jpg", class: 'actor-card'

-#- if @combat
-#  -if @combat.hero_choices?
-#    .form-group
-#      .row
-#        .col-2
-#          .col-form-label
-#            Hero must use agility.
-#        .col-2
-#          = link_to( 'Use agility', hero_setup_new_board_combats_path( @board ), role: :button, class: 'btn btn-primary' ) if @combat.hero_user_id == current_user.id
-#  - else
-#
-#    - if @should_show_cards
-#      .row
-#        .col-2
-#          = "#{@heroes_hero.name}"
-#        .col-2
-#          = "#{@monster.name}"
-#      .row
-#        .col-2
-#          = image_tag( 'hero_cards/' + @heroes_hero.cards[@combat.hero_card_to_play].pic_path, class: :card )
-#        .col-2
-#          = image_tag( 'monsters/' + @monster.cards[@combat.sauron_card_to_play].pic_path, class: :card )
-#
-#    .form-group
-#      = form_tag play_card_screen_board_combats_path( @board ), method: :get do
-#        .row
-#          .col-10
-#            = select_tag( :selected_fighter, options_for_select( @fighter_select_data ), class: 'form-control' )
-#          .col-2
-#            = button_tag 'Play card', role: :button, class: 'btn btn-primary'
-#
-#    .form-group
-#      = form_tag play_card_screen_board_combats_path( @board ), method: :get do
-#        .row
-#          .col-10
-#            = select_tag( :selected_fighter, options_for_select( @fighter_select_data ), class: 'form-control' )
-#          .col-2
-#            = button_tag 'Play card', role: :button, class: 'btn btn-primary'
-#
-#  = link_to 'Finish combat', board_combats_path( @board ), method: :delete, role: :button, class: 'btn btn-primary'
-#-else
-#  = link_to 'New combat', new_board_combats_path( @board ), role: :button, class: 'btn btn-primary'
