.container-fluid

  %h3
    Press alt for zoom
  #map

    -# Showing map
    = image_tag 'map-med.jpg', id: :map

    -# Placing influence tokens
    - @positions.each do |p|
      - unless p.haven
        .influence-pawn-box{ style: "top:#{p.y+5}px; left:#{p.x-35}px;" }
          = image_tag 'influence.png', class: 'influence-pawn', location: p.name_code
          %spawn.influence-value
            = @influence[p.name_code] ? @influence[p.name_code] : 0

    -# Placing other tokens
    - get_token_positions do |pic_path, style, tokens_hover_text, tokens_count, token_decal|
      .token-on-map{ style: style, 'data-toggle'=> 'tooltip', 'data-placement' => 'top', title: tokens_hover_text }
        = image_tag pic_path, class: 'token-on-map-pic'
        - if tokens_count > 1
          .tokens-count{ style: "top:#{14-token_decal}px" }
            = tokens_count


    -# Placing markers on shadow pool
    - y_position = 1181
    - pool_token_number = 0
    - 1.upto( 12 ).to_a.in_groups_of(4).each do |row|
      - x_position = 1694
      - row.each do |element|
        .influence-pool-value{ style: "top:#{y_position}px; left:#{x_position}px;", id: "pool_token_id_#{pool_token_number}" }
          - if pool_token_number < @board.shadow_pool
            1
          - else
            0
          - pool_token_number += 1
        - x_position += 39
      - y_position += 35

    -# Placing markers on sauron actions bar
    - @board.sauron_actions.each do |key|
      - x, y = get_sauron_action_token_position( key )
      .sauron-actions-token{ style: "top:#{y}px; left:#{x}px;" }
        = image_tag 'sauron_action.png'

    -# Placing plot cards if any
    - @plots.each do |plot|
      = image_tag 'sauron/plots/' + plot.plot_card.to_s + '.png', id: "plot-#{plot.plot_position}", class: 'plot-card-on-map'

  #zoom-area

= hidden_field_tag :actor_id, @actor.id