.container-fluid

  %h3
    Press alt for zoom
  #map
    - @positions.each do |p|

      .influence-pawn-box{ style: "top:#{p.y+5}px; left:#{p.x-35}px;" }
        = image_tag 'influence.png', class: 'influence-pawn', style: "top:#{p.y+5}px; left:#{p.x-35}px;", location: p.name_code
        %spawn.influence-value
          = @influence[p.name_code] ? @influence[p.name_code] : 0

    = image_tag 'map-med.jpg', id: :map

  #zoom-area

= hidden_field_tag :actor_id, @actor.id