- unless @board.current_plots.empty?

  %hr
  %h3 Current plots

  - 1.upto(3).each do |i|
    .col-4
      - if @board.current_plots["plot-card-#{i}"]
        -# in controller set @selection =
        -# selectable-card-selection-unique or selectable-card-selection-multiple
        = image_tag "sauron/plots/#{@board.current_plots["plot-card-#{i}"]}.png", class: "big-card #{@selection}", card_id: "plot-card-#{i}"
