.container


  %h3 Discard plot card

  .alert.alert-secondary
    %ul.mt-3
      %li In this screen you can discard a plot card from the board.
      %li Remember you can only place or discard on card per turn.

  .row
    - @board.current_plots.each do |p|
      .col-4
        -# in controller set @selection =
        -# selectable-card-selection-unique or selectable-card-selection-multiple
        = image_tag "sauron/plots/#{p.plot_card}.png", class: "big-card #{@selection}", card_id: p.plot_position

  = form_tag plot_card_discard_path(@actor), class: 'my-3 ml-3' do
    .row

      .col-2
        = hidden_field_tag :selected_card, nil
        = button_tag 'Discard card', role: :button, class: 'btn btn-secondary btn-block', id: :validate_unique, disabled: true

      .col-2
        = link_to plot_card_play_screen_path(@actor), role: :button, class: 'btn btn-secondary btn-block' do
          Play card

      .col-2
        = link_to plot_card_play_finished_path(@actor), role: :button, class: 'btn btn-danger btn-block' do
          Finished