.container


  %h3 Play plot card

  .alert.alert-secondary
    %ul.mt-3
      %li In this screen you can play a plot card.
      %li Remember you can only place or discard on card per turn.

  - @playable_cards.each do |card|
    = card_picture( card, selectable: :unique )

  = form_tag play_sauron_plot_cards_path(@actor), class: 'ml-3' do
    .row

      - if controller_to_code == 'plot'
        .col-3
          = select_tag( :card_slot, options_for_select( @free_slots_options ), { class: 'form-control' } )

      .col-2
        = hidden_field_tag :selected_card, nil
        = button_tag 'Play card', role: :button, class: 'btn btn-secondary btn-block', id: :validate_unique, value: :keep, disabled: true

      .col-2
        = link_to discard_screen_sauron_plot_cards_path(@actor), role: :button, class: 'btn btn-secondary btn-block' do
          Discard card

      .col-2
        = link_to play_finished_sauron_plot_cards_path(@actor), role: :button, class: 'btn btn-primary btn-block' do
          Finished

  %hr

  %h3 Cards you does not have requirements for

  - @unplayable_cards.each do |card|
    = card_picture( card )
