%h1 Listing saurons

%table
  %thead
    %tr
      %th Board
      %th User
      %th Plot cards
      %th Shadow cards
      %th
      %th
      %th

  %tbody
    - @saurons.each do |sauron|
      %tr
        %td= sauron.board
        %td= sauron.user
        %td= sauron.plot_cards
        %td= sauron.shadow_cards
        %td= link_to 'Show', sauron
        %td= link_to 'Edit', edit_sauron_path(sauron)
        %td= link_to 'Destroy', sauron, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Sauron', new_sauron_path
