= form_tag actor_board_messages_path( @actor ) do

  - if @board_message.errors.any?
    #error_explanation
      %h3= "#{pluralize(@board_message.errors.count, "error")} prohibited this board_message from being saved:"
      %ul
        - @board_message.errors.full_messages.each do |message|
          %li= message

  .field
    = label_tag 'board_message[reciever_id]', 'To'
    = select_tag( 'board_message[reciever_id]', options_for_select(@recievers), { class: 'form-control' } )

  .field.mt-2
    = label_tag 'board_message[text]', 'Your message'
    = text_area_tag 'board_message[text]', nil, class: 'form-control'

  .actions.mt-3
    = submit_tag 'Send', class: 'btn btn-secondary'
