.container
  %p#notice= notice

  .alert.alert-secondary
    %ul.mt-3
      %li Effects on cards are not processed for now.
      %li Characters and favors are automatically placed.

  .form-group
    .row
      .col-3
        = link_to edit_map_path(@actor), role: :button, class: 'btn btn-secondary btn-block' do
          Go to map

      .col-3
        = link_to '#', role: :button, class: 'btn btn-secondary btn-block' do
          Place favor

      .col-3
        = link_to edit_character_path(@actor), role: :button, class: 'btn btn-secondary btn-block' do
          Place characters

      .col-3
        = link_to finished_sauron_event_path(@actor), role: :button, class: 'btn btn-danger btn-block' do
          Terminate


  %hr
  %h3 Current event card
  = image_tag "events/I/#{@board.last_event_card}.png", class: 'big-card' if @board.last_event_card