.container

  %h3
    Monsters on board

  %hr

  - @mobs.each do |mob|
    .row.mt-2
      .col-3
        = @board.location_name(mob.location)
      .col-3
        = mob.name
      .col-3
        = link_to 'Move', edit_sauron_sauron_mob_path(@actor, mob.id), role: :button, class: 'btn btn-secondary btn-block'
      .col-3
        - if mob.is_a?(Minion) && mob.life < mob.max_life
          = link_to 'Heal', sauron_sauron_mob_heal_path(@actor, mob.id), role: :button, class: 'btn btn-secondary btn-block'

  .row
    .col-3.mt-2
      = link_to 'Back to actions', edit_sauron_sauron_actions_path(@actor), role: :button, class: 'btn btn-primary btn-block'

