.container

  %h3
    Exploration screen

  .alert.alert-secondary
    %ul.mt-3
      %li At this step, you can explore your current location.

  -#= render partial: 'hero_info'

  = form_tag hero_exploration_path(@actor), method: :put do

    - tokens_at_location = 0
    - @tokens_at_location.each_with_index do |token, i|
      - token_selectable, token_text = get_token_text(token)
      - if token_text
        .form-check
          %input{ class: 'form-check-input', type: 'checkbox', name: "tokens[#{token.type}][]", value: token.code, id: "token_check_#{i}", disabled: !token_selectable }
          %label{ class: 'form-check-label', for: "token_check_#{i}" }
            = token_text
        - tokens_at_location += 1 if token_selectable

    %hr

    .form-group
      .row
        - if tokens_at_location > 0
          .col-3
            = button_tag 'Explore', role: :button, class: 'btn btn-secondary btn-block'

        .col-3
          = link_to next_movement_hero_exploration_path(@actor), role: :button, class: 'btn btn-secondary btn-block' do
            Next movement

        .col-3
          = link_to next_step_hero_exploration_path(@actor), role: :button, class: 'btn btn-primary btn-block' do
            Finish turn