#map
  = image_tag 'map'

= hidden_field_tag :current_place_name, @current_place_name
= hidden_field_tag :current_place_code, @current_place_code

= hidden_field_tag :scroll_x, @scroll_x
= hidden_field_tag :scroll_y, @scroll_y