.container

  .form-group
    .row
      .col
        = text_field_tag :filter, '', class: 'form-control'

  = form_tag influence_path(@actor), method: :patch do
    = button_tag 'Validate', role: :button, class: 'btn btn-primary'
    %table.table#influences_table
      %thead
        %tr
          %th
            Region
          %th
            Zone
          %th
            Influence

      %tbody
        - @locations.each do |location|
          %tr
            %td
              = location.region
            %td
              = location.name
            %td
              = number_field_tag "locations[#{location.name_code}]", @influence[location.name_code]

    = button_tag 'Validate', role: :button, class: 'btn btn-primary'