.container


  -#= render partial: 'sauron_info'

  %h3 Shadow cards in hand
  - @actor.shadow_cards.each do |card_number|
    = image_tag "sauron/shadows/#{card_number}.png", class: 'medium-card'

  %hr
  %h3 Plot cards in hand
  - @actor.plot_cards.each do |card_number|
    = image_tag "sauron/plots/#{card_number}.png", class: 'medium-card'

  = render partial: 'plot_cards/used_plot_cards_slots'

  -#- if GameData::Objectives.heroes_objective_card(@board)
  -#  %hr
  -#  %h3 Your objective
  -#  = image_tag GameData::Objectives.sauron_objective_card(@board), id: 'objectives-card'


