.container
  %p#notice= notice

  %h3
    Story screen

  .alert.alert-secondary
    %ul.mt-3
      %li At this step, Sauron may handle story step.

  .row.my-4
    .col-3
      %button.btn.btn-primary.btn-block{ type: :button }
        Heroes to final
        %span.badge.badge-light
          = @heroes_to_final

    .col-3
      %button.btn.btn-primary.btn-block{ type: :button }
        Sauron to final
        %span.badge.badge-light
          = @sauron_to_final

    .col-3
      %button.btn.btn-primary.btn-block{ type: :button }
        Sauron to shadowfall
        %span.badge.badge-light
          = @sauron_to_shadowfall

    .col-3
      %button.btn.btn-primary.btn-block{ type: :button }
        Dominance
        %span.badge.badge-light
          = @dominance.to_s.humanize

  = form_tag sauron_story_update_path(@actor) do

    .row.mt-2
      .col-3.col-form-label
        Story marker heroes
      .col-3
        = number_field_tag :story_marker_heroes, @board.story_marker_heroes, class: 'form-control'

      .col-3.col-form-label
        Story marker ring
      .col-3
        = number_field_tag :story_marker_ring, @board.story_marker_ring, class: 'form-control'

    .row.mt-2
      .col-3.col-form-label
        Story marker conquest
      .col-3
        = number_field_tag :story_marker_conquest, @board.story_marker_conquest, class: 'form-control'

      .col-3.col-form-label
        Story marker corruption
      .col-3
        = number_field_tag :story_marker_corruption, @board.story_marker_corruption, class: 'form-control'

    .row.mt-4
      .col-3
        = button_tag 'Modify story markers', role: :button, class: 'btn btn-secondary btn-block'
      .col-3
        = link_to sauron_story_step_finished_path(@actor), role: :button, class: 'btn btn-danger btn-block' do
          Terminate
