.container

  %h1 Listing boards

  %table.table
    %thead
      %tr
        %th Heroes
        %th
        %th
        %th
        %th
        %th
        %th
        %th
        %th

    %tbody
      - @boards.each do |board|
        %tr
          %td= players_list(board)
          %td= board.aasm_state.humanize
          %td= link_to( 'Join', board_join_path(board) ) if board.current_heroes_count < board.max_heroes_count || !board.sauron_created

          %td= sauron_link( board )

          %td= hero_link( board, :argalad )
          %td= hero_link( board, :beravor )
          %td= hero_link( board, :eleanor )
          %td= hero_link( board, :eometh )
          %td= hero_link( board, :thalin )