.container

  .alert.alert-secondary
    %ul.mt-3
      %li Select an action and validate it (this only place a marker on the map).
      %li Then execute your action using the buttons on the bottom.
      %li Note : no rules are implemented, you are the master at this step.
      %li When you are done, click on the terminate button.
      %li Remember : Sauron has 2 actions with 1 or 2 heroes and 3 actions with 3 heroes.
      %li Remember : When you place your fourth token, you must remove the three others.

  = form_tag sauron_action_path(@actor), method: :patch do

    .row
      .col
        .row.mt-2
          .col-5.col-form-label
            Place 6 influence
          .col-1.pt-1
            = check_box_tag :place_influence_1, :c, @board.sauron_actions.include?('place_influence_1'), class: :sauron_action

        .row
          .col-5.col-form-label
            Place 5 influence
          .col-1.pt-1
            = check_box_tag :place_influence_2, :c, @board.sauron_actions.include?('place_influence_2'), class: :sauron_action

        .row
          .col-5.col-form-label
            Place 4 influence
          .col-1.pt-1
            = check_box_tag :place_influence_3, :c, @board.sauron_actions.include?('place_influence_3'), class: :sauron_action

      .col
        .row
          .col-5.col-form-label
            Draw 2 cards
          .col-1.pt-1
            = check_box_tag :draw_cards_1, :c, @board.sauron_actions.include?('draw_cards_1'), class: :sauron_action

        .row
          .col-5.col-form-label
            Draw 2 cards
          .col-1.pt-1
            = check_box_tag :draw_cards_2, :c, @board.sauron_actions.include?('draw_cards_2'), class: :sauron_action

        .row
          .col-5.col-form-label
            Draw 1 cards
          .col-1.pt-1
            = check_box_tag :draw_cards_3, :c, @board.sauron_actions.include?('draw_cards_3'), class: :sauron_action

      .col
        .row
          .col-5.col-form-label
            Command 3
          .col-1.pt-1
            = check_box_tag :command_1, :c, @board.sauron_actions.include?('command_1'), class: :sauron_action

        .row
          .col-5.col-form-label
            Command 2
          .col-1.pt-1
            = check_box_tag :command_2, :c, @board.sauron_actions.include?('command_2'), class: :sauron_action

        .row
          .col-5.col-form-label
            Command 1
          .col-1.pt-1
            = check_box_tag :command_3, :c, @board.sauron_actions.include?('command_3'), class: :sauron_action

  %hr

  .form-group
    .row
      .col-4
        = link_to edit_map_path(@actor), role: :button, class: 'btn btn-secondary btn-block' do
          Place influence

      .col-4
        = link_to plot_cards_draw_screen_path(@actor), role: :button, class: 'btn btn-secondary btn-block' do
          Draw plot card

      .col-4
        = link_to new_sauron_sauron_monster_path(@actor), role: :button, class: 'btn btn-secondary btn-block' do
          Place monster

  .form-group
    .row
      .col-4

      .col-4

      .col-4
        = link_to '#', role: :button, class: 'btn btn-secondary btn-block' do
          Move monster / minion

  .form-group
    .row
      .col-4

      .col-4
        = link_to sauron_actions_terminate_path(@actor), role: :button, class: 'btn btn-danger btn-block' do
          Terminate

      .col-4

  = hidden_field_tag :actor_id, @actor.id