.container

  %h3
    Discard corruption card

  .alert.alert-secondary
    %ul.mt-3
      %li Select a corruption card to discard.

  .corruption_area
    - @corruptions.each do |corruption|
      = image_tag "corruption/#{corruption.card_code}.png", class: 'selectable-card-selection-unique', card_id: corruption.card_code

  = form_tag hero_discard_corruption_card_path(@actor), class: 'ml-3 mt-3' do
    = hidden_field_tag :selected_card, nil
    = button_tag 'Discard card', role: :button, class: 'btn btn-primary', id: :validate_unique, value: :card, disabled: true