.container

  %h3
    Movement screen

  .alert.alert-secondary
    %ul.mt-3
      %li At this step, you can decide to move one step further.

  -#= render partial: 'hero_info'
  -#%hr

  %h3 Cards in hand
  = render partial: 'heroes/cards_hand'

  %hr

  = form_tag hero_move_path(@actor) do
    - @locations.in_groups_of(3).each do |location_group|
      .row
        - location_group.each do |location|
          .col.mt-2
            - if location
              = button_tag class: 'btn btn-primary btn-block', value: location.last do
                = location.first
    %input{ id: :selected_cards, name: 'selected_cards', type: :hidden }

  .row.my-2
    .col-4
      = link_to hero_movement_finished_path(@actor), role: :button, class: 'btn btn-danger btn-block' do
        Movement finished