.container

  = render partial: 'hero_info'

  %hr
  = render partial: 'cards_hand'

  -#%hr
  -#%h3 Quest and objectives
  -#
  -#= image_tag "hero_cards/quests/standard/#{@actor.name_code}-#{@actor.current_quest}", class: 'big-card'
  -#
  -#- if GameData::Objectives.heroes_objective_card(@board)
  -#  = image_tag GameData::Objectives.heroes_objective_card(@board), id: 'objectives-card'

  %hr

  .hero-card
    = image_tag "heroes/#{@actor.name_code}.jpg"

  .corruption_area
    - @actor.corruptions.each do |corruption|
      = image_tag "corruption/#{corruption.card_code}.png"