.container

  .row.my-3
    .col-3
      %button.btn.btn-primary.btn-block{ type: :button }
        Heroes to final
        %span.badge.badge-light
          = @heroes_to_final

    .col-3
      %button.btn.btn-primary.btn-block{ type: :button }
        Sauron to final
        %span.badge.badge-light
          = @heroes_to_final

    .col-3
      %button.btn.btn-primary.btn-block{ type: :button }
        Sauron to shadowfall
        %span.badge.badge-light
          = @heroes_to_final

    .col-3
      %button.btn.btn-primary.btn-block{ type: :button }
        Dominance
        %span.badge.badge-light
          = @dominance.to_s.humanize

  = form_tag story_track_path(@actor), method: :patch do
    
    .row
      .col-3.col-form-label
        Story marker heroes
      .col-3
        = number_field_tag :story_marker_heroes, @board.story_marker_heroes

    .row
      .col-3.col-form-label
        Story marker ring
      .col-3
        = number_field_tag :story_marker_ring, @board.story_marker_ring

    .row
      .col-3.col-form-label
        Story marker conquest
      .col-3
        = number_field_tag :story_marker_conquest, @board.story_marker_conquest

    .row
      .col-3.col-form-label
        Story marker corruption
      .col-3
        = number_field_tag :story_marker_corruption, @board.story_marker_corruption
                                
    = button_tag 'Validate', role: :button, class: 'btn btn-secondary'