= link_to 'All boards', boards_path( all: true ), role: :button, class: 'btn btn-primary'
= link_to 'My boards', boards_path, role: :button, class: 'btn btn-primary'

- if @show_new_board
  = link_to 'New Board', new_board_path, role: :button, class: 'btn btn-primary'

- if @board && @board.id
  -#= link_to 'Heroes', board_heros_path( @board ), role: :button, class: 'btn btn-primary'
  -#= link_to 'Combat', board_combats_path( @board ), role: :button, class: 'btn btn-primary'
  = link_to 'Influence', board_influences_path( @board ), role: :button, class: 'btn btn-primary'
  = link_to 'Log', board_logs_path( @board ), role: :button, class: 'btn btn-primary'

- if @sauron
  %button.btn.btn-primary{ type: :button }
    You play
    %span.badge.badge-light
      Sauron

- if @hero
  %button.btn.btn-primary{ type: :button }
    You play
    %span.badge.badge-light
      = @hero.name

- if @current_user
  %button.btn.btn-primary{ type: :button }
    You are connected as
    %span.badge.badge-light
      = @current_user.name

  = link_to 'Sign out', sessions_path, method: :delete, role: :button, class: 'btn btn-warning'

%hr