= link_to 'All boards', boards_path( all: true ), role: :button, class: 'btn btn-primary'
= link_to 'My boards', boards_path, role: :button, class: 'btn btn-primary'

- if @show_new_board
  = link_to 'New Board', new_board_path, role: :button, class: 'btn btn-primary'

- if @board && @board.id
  -#= link_to 'Heroes', board_heros_path( @board ), role: :button, class: 'btn btn-primary'
  -#= link_to 'Combat', board_combats_path( @board ), role: :button, class: 'btn btn-primary'
  -# For futur specator use
  -#= link_to 'Map', board_map_path(@board), role: :button, class: 'btn btn-primary'

  - if @actor
    = link_to 'Map', edit_map_path(@actor), role: :button, class: 'btn btn-primary'
    = link_to 'Influence', influence_path(@actor), role: :button, class: 'btn btn-primary'
    = link_to 'Characters', character_path(@actor), role: :button, class: 'btn btn-primary'
    = link_to 'Shadow pool', edit_shadow_pool_path(@actor), role: :button, class: 'btn btn-primary'

  = link_to 'Log', board_logs_path( @board ), role: :button, class: 'btn btn-primary'

- if @actor.is_a? Sauron
  = link_to 'Sauron', @actor, role: :button, class: 'btn btn-primary'
  %button.btn.btn-primary{ type: :button }
    You play
    %span.badge.badge-light
      Sauron

- if @actor.is_a? Hero
  = link_to @actor.name, @actor, role: :button, class: 'btn btn-primary'
  %button.btn.btn-primary{ type: :button }
    You play
    %span.badge.badge-light
      = @actor.name

- if @current_user
  %button.btn.btn-primary{ type: :button }
    You are connected as
    %span.badge.badge-light
      = @current_user.name

  = link_to 'Sign out', sessions_path, method: :delete, role: :button, class: 'btn btn-warning'

%hr