.container
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3

    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse

      %ul.navbar-nav.mr-auto

        - if @current_user
          %li.nav-item.dropdown
            %a#navbarDropdownBoards.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Boards
            .dropdown-menu{"aria-labelledby" => "navbarDropdownBoards"}
              = link_to 'All boards', boards_path( all: true ), role: :button, class: 'dropdown-item'
              = link_to 'My boards', boards_path, role: :button, class: 'dropdown-item'
              = link_to 'New Board', new_board_path, role: :button, class: 'dropdown-item'

        - if @board && @board.id
          %li.nav-item.dropdown
            %a#navbarDropdownMisc.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Misc
            .dropdown-menu{"aria-labelledby" => "navbarDropdownMisc"}
              = link_to 'Story', board_story_screen_path(@board), role: :button, class: 'dropdown-item'
              = link_to 'Log', board_logs_path( @board ), role: :button, class: 'dropdown-item'

    - if @board && @board.id
      - if @actor
        - if @actor.is_a? Sauron
          = link_to 'Map', edit_map_path(@actor), role: :button, class: 'btn btn-info ml-2', target: '_blank'
        - else
          = link_to 'Map', map_path(@actor), role: :button, class: 'btn btn-info ml-2', target: '_blank'

    - if @actor
      = link_to actor_board_messages_path(@actor), role: :button, class: 'btn btn-info ml-2' do
        Messages
        -#%span.badge.badge-light
        -#  0

      = link_to @actor, role: :button, class: 'btn btn-info ml-2' do
        = @actor.name
        - if @board.current_heroes_count == 1 && @actor && @actor.is_a?(Hero)
          %span.badge.badge-light
            = @actor.turn

    - if @board

      %button.btn.btn-info.ml-2{ type: :button, disabled: true }
        Turn
        %span.badge.badge-light
          = @board.turn

    - if @current_user
      %button.btn.btn-info.ml-2{ type: :button, disabled: true }
        Connected as
        %span.badge.badge-light
          = @current_user.name

    - if @current_user
      = link_to 'Sign out', sessions_path, method: :delete, role: :button, class: 'btn btn-info ml-2'